@import "constants.css";

* {
    box-sizing: border-box;
}

html, body, h1,
h2, p {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: var(--main-font-size);
    background-color: var(--bg-color);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    height: 100vh;
}

.profile-card {
    width: 100%;
    height: 579px;
    background-color: var(--profile-card-color);
}

@media (min-width: 768px) {
    .profile-card {
        width: 384px;
    }
}
