@import "constants.css";

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: var(--main-font-size);
    color: var(--white);
    background-color: var(--bg-color);
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    height: 100vh;
}

.profile-card {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    width: 100%;
    border-radius: 12px;
    background-color: var(--profile-card-color);
}

@media (min-width: 768px) {
    .profile-card {
        padding: 40px;
        width: 384px;
        height: 611px;
    }
}

.profile-card__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.profile-card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-card__photo {
    display: block;
    width: 88px;
    height: 88px;
    border-radius: 50%;
}

.profile-card__name {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0;
}

.profile-card__description {
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0;
    color: var(--green);
}

.profile-card__bio {
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
}

.profile-card__btn {
    width: 100%;
    border-radius: 8px;
    background-color: var(--btn-color);
}

.profile-card__btn:hover {
    background-color: var(--green);
    color: var(--btn-color);
}

.profile-card__link {
    display: block;
    padding: 12px 115px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .profile-card__link {
        padding: 12px 95px;
    }
}
